doctype html
html
  head
    title= "Stats Inspector"
    link(rel='stylesheet', href='/css/style.css', type='text/css')
    script(src='/js/ipconnection.js')
    script(src='/socket.io/socket.io.js')
  body
    h1 Stats Inspector
    p IP addresses currently connecting:
    ul#ips
