doctype html
html
  head
    title= "Stats Inspector"
    script.
      window.ip = '#{ip}';
    link(rel='stylesheet', href='/css/style.css', type='text/css')
    script(src='/js/models/stats.js')
    script(src='/js/stats.js')
    script(src='/socket.io/socket.io.js')
  body
    h1 Stats Inspector
    p Stats from <strong>#{ip}</strong> will appear here.
    #stats
