* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  border-bottom: 3px double black;
}

#stats {
  border-bottom: 1px solid #bbb;
}

#stats .stat {
  padding: 1em;
  border-top: 1px solid #bbb;
}

#stats .stat {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fcfcfc),
    color-stop(1, #fff)
  );
  background-image: -o-linear-gradient(bottom, #fcfcfc 0%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #fcfcfc 0%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #fcfcfc 0%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #fcfcfc 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #fff 100%);
}

#stats .stat h2.type {
  cursor: pointer;
  margin: 0;
}

#stats .stat.istats .type {
  color: rgb(76, 198, 249);
}

#stats .stat.livestats .type {
  color: rgb(153, 0, 0);
}

#stats .stat.dax .type {
  color: rgb(254, 174, 5);
}

#stats .stat.rdot .type {
  color: rgb(111, 208, 110);
}

#stats .toggle.hidden {
  display: none;
}

#stats table.params {
  font-size: 0.8em;
  border-collapse: collapse;
  margin-bottom: 1em;
}

#stats table.params th {
  background-color: #444;
  color: #fff;
  text-align: left;
}

#stats table.params th, #stats table.params td {
  border: 1px solid #bbb;
  padding: 0.5em;
}

#stats table.params tr:nth-child(odd) {
  background-color: #ccc;
}

#stats .stat .raw {
  font-size: 0.75em;
  padding: 0.5em;
  background-color: #ccc;
  border: 1px solid #bbb;
  overflow-wrap: break-word;
  margin-bottom: 1em;
}
