* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  border-bottom: 3px double black;
}

#stats {
  border-bottom: 1px solid lightgray;
}

#stats .stat {
  padding: 1em;
  border-top: 1px solid lightgray;
}

#stats .stat .type {
  font-weight: bold;
  font-size: 1.5em;
}

#stats .stat.istats .type {
  color: rgb(76, 198, 249);
}

#stats .stat.livestats .type {
  color: rgb(153, 0, 0);
}

#stats .stat.dax .type {
  color: rgb(254, 174, 5);
}

#stats .stat.rdot .type {
  color: rgb(111, 208, 110);
}

#stats .stat .raw {
  font-size: 0.75em;
  color: #888;
  padding: 0.5em;
  background-color: #eee;
  border: 1px solid #bbb;
  overflow-wrap: break-word;
}
