doctype html
html
  head
    title= "Stats Inspector"
    script.
      window.ip = '#{ip}';
    script(src='/stats.js')
    script(src='/socket.io/socket.io.js')
  body
    h1 Stats Inspector
    p Stats will appear here.
    #stats
